.site-logo {
	height: 26px;
	padding-bottom: var(--spacing);
	width: 160px;
}

@media (min-width: 768px) {
	.site-logo {
		height: 31px;
		padding-bottom: var(--spacing-x2);
		padding-top: var(--spacing);
		width: 190px;
	}
}
