.posts {
    grid-column: 1/13;
}

.posts__menu {
    align-items: center;
    border-top: 1px solid var(--grey);
    display: flex;
    justify-content: space-between;
    padding-top: var(--spacing);
}

.posts__header {
    font-weight: 900;
}

.posts__sort-button {
    all: unset;
    border: 1px solid;
    border-radius: var(--spacing);
    cursor: pointer;
    margin-left: var(--spacing-half);
    padding: var(--spacing-half) var(--spacing);
}

.posts__post {
    border-top: 1px solid var(--grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: var(--spacing);
    padding-top: var(--spacing);
}

.posts__post:last-child {
    border-bottom: 1px solid var(--grey);
    padding-bottom: var(--spacing);
}

.posts__name {
    flex: 1 70%;
    font-weight: 900;
}

.posts__likes {
    flex: 1 30%;
    font-weight: 900;
    text-align: right;
}

.posts__body {
    flex: 100%;
    margin-top: var(--spacing);
}

@media screen and (min-width: 768px) {
    .posts {
        grid-column: 3/9;
    }
}
